@font-face {
  font-family: "Myriad Pro";
  src: url("assets/font/myriadpro.ttf") format("truetype"); }

.weadget {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  width: 280px;
  height: 360px;
  border-radius: 12px;
  background: #48c3d9;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  transition: all .4s ease-in-out;
  position: relative; }
  .weadget.flipped {
    background: #2a2a2c;
    transform: rotateY(179deg); }
    .weadget.flipped .weadget-container-front {
      z-index: 2;
      opacity: 0;
      transform: rotateY(-179deg); }
    .weadget.flipped .weadget-container-back {
      z-index: 3;
      opacity: 1;
      backface-visibility: visible;
      transform: rotateY(179deg); }
  .weadget .weadget-container-front {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 280px;
    height: 360px;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    justify-content: space-around; }
    .weadget .weadget-container-front .weadget-header {
      flex: 0 1 auto;
      padding: 0 16px 16px 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .weadget .weadget-container-front .weadget-header .pin {
        display: flex;
        flex: 0 1 auto;
        width: 24px;
        height: 24px;
        background: url(assets/svg/pin.png) no-repeat;
        background-position: center center;
        background-size: auto 100%; }
      .weadget .weadget-container-front .weadget-header .city-name {
        flex: 1 1 auto;
        padding-left: 8px;
        font-size: 1.2em;
        font-weight: 300; }
      .weadget .weadget-container-front .weadget-header .temperature {
        flex: 0 1 auto;
        font-size: 2em;
        font-weight: bold; }
    .weadget .weadget-container-front .weather-loading-container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-items: center; }
      .weadget .weadget-container-front .weather-loading-container .loading-message {
        flex: 0 1 auto;
        font-size: 1.2em;
        font-weight: 300; }
    .weadget .weadget-container-front .weadget-condition {
      flex: 0 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 16px 0; }
      .weadget .weadget-container-front .weadget-condition .weadget-condition-icon {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .weadget .weadget-container-front .weadget-condition .weadget-condition-icon img {
          height: 64px; }
      .weadget .weadget-container-front .weadget-condition .weadget-condition-name {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; }
        .weadget .weadget-container-front .weadget-condition .weadget-condition-name .weadget-condition-message {
          flex: 0 1 auto;
          font-size: 1.2em;
          font-weight: 300;
          text-transform: capitalize;
          padding-top: 24px; }
        .weadget .weadget-container-front .weadget-condition .weadget-condition-name .weadget-condition-description {
          flex: 0 1 auto;
          font-size: 1em;
          font-weight: 300; }
    .weadget .weadget-container-front .weadget-atmospherics {
      flex: 0 1 auto;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .weadget .weadget-container-front .weadget-atmospherics .weadget-wind {
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .weadget .weadget-container-front .weadget-atmospherics .weadget-wind .weadget-wind-value {
          flex: 0 1 auto;
          font-size: 1em;
          font-weight: 300;
          text-align: center; }
        .weadget .weadget-container-front .weadget-atmospherics .weadget-wind .weadget-wind-label {
          flex: 0 1 auto;
          font-size: .8em;
          font-weight: 100;
          text-align: center; }
      .weadget .weadget-container-front .weadget-atmospherics .weadget-humidity {
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .weadget .weadget-container-front .weadget-atmospherics .weadget-humidity .weadget-humidity-value {
          flex: 0 1 auto;
          font-size: 1em;
          font-weight: 300;
          text-align: center; }
        .weadget .weadget-container-front .weadget-atmospherics .weadget-humidity .weadget-humidity-label {
          flex: 0 1 auto;
          font-size: .8em;
          font-weight: 100;
          text-align: center; }
    .weadget .weadget-container-front .weadget-calendar {
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .weadget .weadget-container-front .weadget-calendar .weadget-calendar-day {
        font-size: .8em;
        display: flex;
        padding: 16px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1799b0;
        text-transform: capitalize;
        transition: all .2s ease-in-out; }
        .weadget .weadget-container-front .weadget-calendar .weadget-calendar-day.active {
          background: transparent; }
  .weadget .weadget-container-back {
    z-index: 2;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 248px;
    height: 328px;
    transform: rotateY(179deg);
    opacity: 0;
    padding: 16px;
    transition: all .8s ease-in-out; }
    .weadget .weadget-container-back .map {
      width: 100%;
      height: 100%;
      min-height: 200px; }
